

{% extends "app/base.html" %} {% load static %}
{% block body %}
<div class="row" style="margin-top: 40px;">

    <div class="col-5">    
        <form  method="POST"  style="padding:20px">{% csrf_token %}

            <div class="input-group mb-3 x">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{form.month.label}}</label>
              </div>
              {{form.month}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">{{form.year.label}}</span>
                {{form.year}}
            </div>                   

            <input type="submit" class="btn btn-outline-primary" value="Get"> 
            <br><br>
            <div class="row">
              <p>Budget for every month:</p>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Jan">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Feb">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Mar">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Apr">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="May">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Jun">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Jul">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Aug">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Sep">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Oct">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Nov">
              </div>
              <div class="form-group col-md-4">
                <input type="number" class="form-control" name="bud" placeholder="Dec">
              </div>
            </div>

            <br>
          <button type="button" class="btn btn-outline-dark" onclick="budget()">Check with budget</button>
          <p id="par">Budget list will be displayed here.</p>
        </form>    
    </div>
    <div class="col-8">

            <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
                <span class="badge bg-info">Pie Charts for {{date|date:"M Y"}}</span>
            </div>
          <div class="row">
              
              <div id="container1" style="width: 50%; margin-top: 40px;">
                  <canvas id="pie-chart1"></canvas>
                  <h5 class="text-danger text-center" style="padding-top: 10px;">Expense</h5>
              </div>
              <div id="container2" style="width: 50%; float: right; margin-top: 40px;">
                  <canvas id="pie-chart2"></canvas>
                  <h5 class="text-success text-center" style="padding-top: 10px;">Income</h5>
              </div>

              <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
                <span class="badge bg-info">Year {{date|date:"Y"}}</span>
                </div>

              <div style="height: 370px; width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="linechart" ></canvas>
              </div>
              <div id="container" style="width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="canvas"></canvas>
              </div>

              <!--trials-->
              <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
                <span class="badge bg-info">Expenditure sources for the Year {{date|date:"Y"}}</span>
                </div>
              <div  style="height: 370px; width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="linechartexp"></canvas>
              </div>

              <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
                <span class="badge bg-info">Income sources for the Year {{date|date:"Y"}}</span>
                </div>
              <div  style="height: 370px; width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="linechartinc"></canvas>
              </div>

              <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
                <span class="badge bg-info">Expenses with respect to the monthly budget for the Year {{date|date:"Y"}} (add budget if no graph visible)</span>
              </div>
              <div  style="height: 370px; width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="linechartbud" ></canvas>
              </div>
              

          </div>
       <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;"> 
          <a href="#" id="downloadbut" onclick="download()">
          <button type="button" class="btn btn-outline-dark" id="downloadbut" onclick="download()">Download budget graph as png</button>
          </a>
          <br><br>
      </div> 
    </div>
          
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

var budg = [0,0,0,0,0,0,0,0,0,0,0,0]; 
var myLineChartbud;

    var config1 = {
      type: 'pie',
      data: {
        datasets: [{
          labels: {{labels1|safe}},
          data: {{data1|safe}}, //"{{ data1|safe }}",
          backgroundColor: ['#53cfda','eff2e6','#ff7994','#ffc900','#1f3d51','#ffed00','#dee500',
          '#808080','#d2e9e1','#a2aaac','#c06c84','#b6dcb6','#355c7d','#ea4630'         
          ],
          label: 'Expenditure'
        }]
      },
      options: {
        responsive: true
      }
    };

    var config2 = {
      type: 'pie',
      data: {
        datasets: [{
          labels: {{labels2|safe}},
          data: {{data2|safe}},
          //backgroundColor: ['#2012300', '#ff0000', '#00ff00', '#C0C0C0', '#00ffff','#ff00ff'],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
          label: 'Income'
        }] 
      },
      options: {
        responsive: true
      }
    };


    var barChartData = {
  labels:{{months|safe}}, 
  datasets: [
    {
      label: "Expense",
      backgroundColor: "pink",
      data: {{ bar1|safe }}
    },
    
    {
      label: "Income",
      backgroundColor: "lightgreen",
      data: {{bar2|safe}}
    }
    
  ],
};

var chartOptions = {
  responsive: true,
  legend: {
    position: "top"
  },
  title: {
    display: true,
    text: "Monthly Income and Expenditure for the year {{ date|date:'Y'}}"
  },
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
}


    window.onload = function() {

      var ctx1 = document.getElementById('pie-chart1').getContext('2d');
      var chart1 = new Chart(ctx1, config1);
      window.myPie = chart1;

      var ctx2 = document.getElementById('pie-chart2').getContext('2d');
      var chart2 = new Chart(ctx2, config2);
      window.myPie = chart2;

      var ctx = document.getElementById("canvas").getContext("2d");
      var chart3 = new Chart(ctx, {
        type: "bar",
        data: barChartData,
        options: chartOptions
      });
      window.myBar = chart3;

      var ctx3 = document.getElementById('linechart').getContext('2d');
      var myLineChart = new Chart(ctx3, {
        type: 'line',
        data: {
          labels: {{months|safe}},
          datasets: [
            {
            label: `Balance {{ date|date:"Y"}} in rupees`, // Name the series
            data: {{linedata|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#008081', // Add custom color border (Line)
            backgroundColor: '#008081', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Budget in rupees`, // Name the series
            data: budg, //[100,100,100,100,200,100,100,100,100,100,300,100], // Specify the data values array
            fill: false,
            borderColor: '#000000', // Add custom color border (Line)
            backgroundColor: '#000000', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Expense {{ date|date:"Y"}} in rupees`, // Name the series
            data:{{bar1|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#bc544b', // Add custom color border (Line)
            backgroundColor: '#bc544b', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Income {{ date|date:"Y"}} in rupees`, // Name the series
            data: {{bar2|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#7fff00', // Add custom color border (Line)
            backgroundColor: '#7fff00', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },    
          ]},
          options: {
            responsive: true, 
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
          }
        });


        //trials
        var ctx4 = document.getElementById('linechartexp').getContext('2d');
      var myLineChartexp = new Chart(ctx4, {
        type: 'line',
        data: {
          labels: {{labels1|safe}},
          datasets: [
            {
            label: `Expense for each category`, // Name the series
            data: {{data1|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#008081', // Add custom color border (Line)
            backgroundColor: '#008081', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            }  
          ]},
          options: {
            responsive: true, 
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
          }
        });

        var ctx5 = document.getElementById('linechartinc').getContext('2d');
      var myLineChartinc = new Chart(ctx5, {
        type: 'line',
        data: {
          labels: {{labels2|safe}},
          datasets: [
            {
            label: `Income from each category`, // Name the series
            data: {{data2|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#008081', // Add custom color border (Line)
            backgroundColor: '#008081', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            }  
          ]},
          options: {
            responsive: true, 
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
          }
        });

    };

    function budget(){
        var budghtml = document.getElementsByName('bud');
        for (var i = 0; i < budghtml.length; i++) 
        {
          if(budghtml[i].value == "") {}
          else
          {
                budg[i] += parseInt(budghtml[i].value);
          } 
        }
      document.getElementById("par").innerHTML = "Budget list provided is " + budg;
//      myLineChart.destroy();
      var ctx3 = document.getElementById('linechartbud').getContext('2d');

       myLineChartbud = new Chart(ctx3, {
        type: 'line',
        data: {
          labels: {{months|safe}},
          datasets: [
            {
            label: `Balance {{ date|date:"Y"}} in rupees`, // Name the series
            data: {{linedata|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#008081', // Add custom color border (Line)
            backgroundColor: '#008081', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Budget in rupees`, // Name the series
            data: budg, //[100,100,100,100,200,100,100,100,100,100,300,100], // Specify the data values array
            fill: false,
            borderColor: '#000000', // Add custom color border (Line)
            backgroundColor: '#000000', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Expense {{ date|date:"Y"}} in rupees`, // Name the series
            data:{{bar1|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#bc544b', // Add custom color border (Line)
            backgroundColor: '#bc544b', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Income {{ date|date:"Y"}} in rupees`, // Name the series
            data: {{bar2|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#7fff00', // Add custom color border (Line)
            backgroundColor: '#7fff00', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },    
          ]},
          options: {
            responsive: true, 
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
          }
        });

        
     
      }

 //     a.href = myLineChartbud.toBase64Image();
   //     a.download = 'my_budget_chart.png';


      function download(){
        var a = document.getElementById('downloadbut');
        a.href = myLineChartbud.toBase64Image();
        a.download = 'my_budget_chart.png';
      } 
  
</script>

{% endblock %}



